@model Solvi.Models.ChangePasswordViewModel
@{
    ViewBag.Title = Resource.ChangePassword;
}

<h4 class="fs-25 text-capitalize mb-sm-0 fw600">@ViewBag.Title</h4>

<form asp-controller="account" asp-action="ChangePassword" asp-route-ReturnUrl="@ViewBag.ReturnUrl" method="post">
    @Html.AntiForgeryToken()
    <div class="bg-white p-3 p-lg-4 p-xl-5 shadow mt-2">
        <h2 class="fs-20 fw600 mb-4">@Resource.EnterTheDetails</h2>
        <div class="invalid-message">
            @Html.ValidationSummary()
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3 text-break">
                    <div class="form-group">
                        <label asp-for="OldPassword" class="form-label required fw600"></label>
                        <input asp-for="OldPassword" class="form-control" type="password" />
                        <span asp-validation-for="OldPassword" class="invalid-message"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3 text-break">
                    <div class="form-group">
                        <label asp-for="NewPassword" class="form-label required fw600"></label>
                        <i class="bi bi-info-circle fw600 verticle-middle color-primarycolor" data-bs-toggle="tooltip" data-bs-placement="right"
                           title="@Resource.PasswordRequirementTooltip"></i>
                        <input asp-for="NewPassword" class="form-control" type="password" />
                        <span asp-validation-for="NewPassword" class="invalid-message"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3 text-break">
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="form-label required fw600"></label>
                        <input asp-for="ConfirmPassword" class="form-control" type="password" />
                        <span asp-validation-for="ConfirmPassword" class="invalid-message"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <button id="save-btn" type="submit" class="btn form-btn btn-primary">@Resource.Save</button>
        </div>
    </div>
</form>