@model ForgotPasswordViewModel
@{
    ViewBag.Title = Resource.ForgotPassword;
}

<section class="pt-10 px-3 px-sm-5">
    <div class="container">
        <h1 class="fs-56 fw600 text-center pb-4 lh-1">@ViewBag.Title</h1>
        <div class="row justify-content-center align-items-center gx-0 gx-sm-4">
            <div class="col-lg-7 order-0 order-lg-1">
                <div class="bg-white p-5 shadow">
                    <div class="pb-3 fs-16">@Resource.FillInTheEmailAddressAndWeWillSendYouAResetPasswordLink</div>
                    @Html.ValidationSummary("", new { @class = "invalid-message" })
                    @using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, null, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="mb-3 text-break">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "form-label required fw600" })
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "invalid-message" })
                            </div>
                        </div>
                        <button type="submit" class="btn form-btn btn-primary hover-moveup">@Resource.Submit</button>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
