@model Solvi.Models.RegisterViewModel
@{
    ViewBag.Title = Resource.RegisterAnAdminAccount;
}
<div id="currenturl" class="d-none">https://@ViewContext.HttpContext.Request.Host.Value/account/registeradmin</div>
@if (User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div class="row justify-content-center align-items-center gx-0 gx-sm-4">
        <div class="col-lg-8">
            <div class="mb-2">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item fs-14 text-capitalize"><a class="color-primarycolor hover-color-primarycolor hover-textdeco-underline fw500" asp-controller="user" asp-action="index">@Resource.Users</a></li>
                        <li class="breadcrumb-item fs-14 text-muted text-capitalize" aria-current="page">@ViewBag.Title</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
}
<div class="row justify-content-center align-items-center gx-0 gx-sm-4">
    <div class="col-lg-8">
        <div class="bg-white p-5 shadow">
            <div class="d-flex justify-content-between align-items-center">
                <h1 class="fw600 pb-2 fs-28">@ViewBag.Title</h1>
                <a class="fs-22 cursor-pointer color-primarycolor" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="@Resource.ClickToCopyTheRegistrationLinkAndShareWithAdmin" onclick="copyText(document.getElementById('currenturl'))"><i class="bi bi-share"></i></a>
            </div>
            <div class="pb-3 fs-15">@Resource.FillInTheFollowingToRegister</div>
            <form asp-controller="account" asp-action="registeradmin" asp-route-ReturnUrl="@ViewBag.ReturnUrl" method="post">
                <partial name="_RegistrationForm" model="Model"></partial>
            </form>
        </div>
    </div>
</div>
@section scripts {
    <script>
        // Get the current date and time
        var now = new Date();
        // Get the timezone offset in minutes
        var timezoneOffset = now.getTimezoneOffset();
        // Convert the offset to hours and minutes
        var hours = Math.floor(Math.abs(timezoneOffset) / 60);
        var minutes = Math.abs(timezoneOffset) % 60;
        // Determine the sign of the offset (+ or -)
        var sign = timezoneOffset > 0 ? "-" : "+";
        // Format the offset as a string (e.g., +05:30 or -03:00)
        var offsetString = sign + padZero(hours) + ":" + padZero(minutes);
        // Helper function to pad a number with leading zeros
        function padZero(number) {
            return (number < 10 ? "0" : "") + number;
        }
        $(document).ready(function () {
            document.getElementById("TimezoneOffset").value = offsetString;
            $.get('https://www.cloudflare.com/cdn-cgi/trace', function (data) {
                data = data.trim().split('\n').reduce(function (obj, pair) {
                    pair = pair.split('=');
                    return obj[pair[0]] = pair[1], obj;
                }, {});
                document.getElementById("CountryCode").value = data.loc;
                document.getElementById("RegionCode").value = data.colo;
            });
        });
    </script>
}