@model Solvi.Models.ResetPasswordViewModel
@{
    ViewBag.Title = Resource.ResetPassword;
}

<section class="pt-10">
    <h1 class="fs-56 fw600 text-center pb-4 lh-1">@ViewBag.Title</h1>
    <div class="row justify-content-center align-items-center gx-0 gx-sm-4">
        <div class="col-lg-8">
            <div class="bg-white p-5 shadow">
                <div class="pb-2 fs-15">@Resource.EnterTheDetails</div>
                @Html.ValidationSummary("", new { @class = "invalid-message" })
                <form class="form-horizontal" asp-controller="account" asp-action="resetpassword" asp-route-ReturnUrl="@ViewBag.ReturnUrl" method="post">
                    <input asp-for="Code" hidden />
                    <div class="mb-3 text-break">
                        <div class="form-group">
                            <label asp-for="Email" class="form-label required fw600"></label>
                            <input asp-for="Email" class="form-control" readonly />
                            <span asp-validation-for="Email" class="invalid-message"></span>
                        </div>
                    </div>
                    <div class="mb-3 text-break">
                        <div class="form-group">
                            <label asp-for="Password" class="form-label required fw600"></label>
                            <i class="bi bi-info-circle fw600 verticle-middle color-primarycolor" data-bs-toggle="tooltip" data-bs-placement="right"
                               title="@Resource.PasswordRequirementTooltip"></i>
                            <input asp-for="Password" class="form-control" type="password" />
                            <span asp-validation-for="Password" class="invalid-message"></span>
                        </div>
                    </div>
                    <div class="mb-3 text-break">
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="form-label required fw600" for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" class="form-control" type="password" id="ConfirmPassword" />
                            <span asp-validation-for="ConfirmPassword" class="invalid-message"></span>
                        </div>
                    </div>
                    <button type="submit" class="btn form-btn btn-primary hover-moveup">@Resource.Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
